/* Partials */
@import 'partials/_header';
@import 'partials/_footer';
@import 'partials/_nav';
@import 'partials/_home';
@import 'partials/_about';

/* Global */
@import 'global/_variables';
@import 'global/_text';
@import 'global/_utility';
@import 'global/_media-queries';
@import 'global/_forms';