h1, h2, h3, h4, h5, h6, p, th, td, ul, li, a {
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

h2, h3, h4, h5, h6, p, th, td, ul, li, a {
    font-family: "Open Sans", sans-serif;
}

p, th, td {
    margin: 10px 0;
    line-height: 2;
    font-size: 14px;
}

h1 {
    font-family: "Over the Rainbow", cursive;
    font-size: 42px;
    font-weight: normal;
}

h1.header {
    padding: 0;
    text-align: center;
    font-size: 55px;
}

h1.greeting {
    position: absolute;
    left: 37%;
    padding: 15px 60px;
    transform: translateY(120%);
    -webkit-transform: translateY(120%);
    -ms-transform: translateY(120%);
    border: 2px solid #fff;
    border-radius: 50%;
    background-image: url("../images/stardust-blue.jpg");
    font-size: 40px;
    
    &:after {
        content: ' ';
        position: absolute;
        top: 92px;
        left: -50px;
        width: 180px;
        height: 80px;
        transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        background-image: url(../images/speech-bubble-tail.png);
        background-repeat: no-repeat;
    }
}

h1.header, h1.greeting {
    margin: 0;
    color: #fff;
    font-weight: normal;
}

h2 {
    
}