h1, h2, h3, h4, h5, h6, p, th, td, ul, li, a {
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

h2, h3, h4, h5, h6, p, th, td, ul, li, a {
    font-family: "Open Sans", sans-serif;
}

p, th, td {
    margin: 10px 0;
    line-height: 2;
    font-size: 14px;
}

h1 {
    font-family: "Over the Rainbow", cursive;
    font-size: 42px;
    font-weight: normal;
}

h1.header, h1.greeting {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 55px;
    font-weight: normal;
}

h1.header {
    transform: translateY(250%);
    text-align: center;
}

h1.greeting {
    position: absolute;

}

h2 {
    
}