.about {
    #header {
        height: 450px;
    }
    
    .bar {
        transition: 1.5s ease;
        height: 10px;
        margin-bottom: 10px;
        background-color: #1b94a2;
    }
    
    .content-area {
        margin: 20px 0;
        
        i {
            float: left;
            margin-top: 9px;
            font-size: 36px;
        }
        
        .skills-content {
            margin-left: 40px;
        }
    }
    
    i {
        display: inline;
        margin-right: 8px;
//        color: #666;
        font-size: 25px;
    }
    
    h2 {
        display: inline;
    }
    
    p {
        a {
            transition: 0.4s ease;
    
            &:hover {
                color: #1b94a2;
            }
        }
    }
}