.home {
    .page-buttons {
        i {
            width: 180px;
            height: 180px;
            border: 2px solid transparent;
            background-color: #1b94a2;
            color: #fff;
            font-size: 90px;
            line-height: 180px;
        
            &:hover {
                border-radius: 50%;
                border: 2px solid #1b94a2;
                background-color: #fff;
                color: #1b94a2;
            }
        }
    }
    
    #header {
        height: 100%;
        min-height: 570px;
    }
}

.right-side-bar {
    margin: 12px 0;
}

.page-buttons {
    h3 {
        margin-top: 15px;
    }
    
    .columns {
        transition: ease, 0.8s;
        padding-top: 20px;
        padding-bottom: 20px;
        
        .content-area {
            text-align: center;
        }
    }
}

#mission-statement {
    i {
        font-size: 25px;
    }
}

h2 {
    display: inline;
}

i {
    display: inline;
    margin-right: 8px;
    font-size: 25px;
}

.go-ghost {
    display: none;
}

.expose {
    display: block;
}

.home, .about {
    .row {
        margin: 30px auto;
    }
}