.home {
    .page-buttons {
//        background-color: #ccc;
    }
}

.page-buttons {
    i {
        transition: ease, 0.4s;
        margin-top: 20px;
        color: #000;
        font-size: 120px;
        
        &:hover {
            color: #1b94a2;
        }
    }
    
    h3 {
        margin-top: 15px;
    }
    
    .columns {
        transition: ease, 0.8s;
        padding-top: 20px;
        padding-bottom: 20px;
        
        .content-area {
            text-align: center;
        }
    }
}

#mission-statement {
    i {
        font-size: 25px;
    }
}

h2 {
    display: inline;
}

i {
    display: inline;
    margin-right: 8px;
    font-size: 25px;
}

.go-ghost {
    display: none;
}

.expose {
    display: block;
}

.home, .about {
    .row {
        margin: 30px auto;
    }
}