#nav-menu {
    @extend .nav-shadow;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    height: 70px;
    background-color: rgba(#fff, 0.9);
    
    ul {
        margin: 0;
        text-align: center;
        
        li {
            display: inline-block;
            margin: 0px 5px;
            list-style: none;
            line-height: 70px;
            
            a {
                padding: 10px 25px;
                text-decoration: none;
            }
        }
    }
}

#footer-nav {
//    height: 70px;
    
    ul {
        text-align: center;
        
        li {
            display: inline-block;
            margin: 40px 20px;
            
            a {
                text-decoration: none;
            } 
        }
    }
    
    i {
        color: #000;
        font-size: 25px;
    }
    
    ul li:nth-child(even) i:hover {
        transform: rotate(15deg);
    }
    
    ul li:nth-child(odd) i:hover {
        transform: rotate(-15deg);
    }
}