#nav-menu {
    @extend .nav-shadow;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    height: 70px;
    background-color: rgba(#fff, 0.9);
    
    h1 {
        margin: 4px 0;
    }
    
    h1.header-nav {
        transition: 0.4s ease;
        margin-top: 18px;
        font-size: 24px;
    }
    
    a {
        text-decoration: none;
    }
    
    .links {
        display: none;
        
        ul {
            margin: 0;
            text-align: right;
        
            li {
                display: inline-block;
                margin: 0px 20px;
                list-style: none;
                line-height: 70px;
                
                &last-child {
                    margin-left: 0;
                }
            
                &:last-child a {
                    padding-right: 0;
                }
                .current {
                    border-bottom: 5px solid #1b94a2;
                    color: #1b94a2;
                }
                a {
                    padding: 21px 0px;
                    font-size: 14px;
                    
                    &:hover {
                        border-bottom: 5px solid #1b94a2;
                        color: #1b94a2;
                    }
                }
            }
        }
    }
}

#footer-nav {
//    height: 70px;

    ul {
        text-align: center;
    
        li {
            display: inline-block;
            margin: 40px 20px;
        
            a {
                text-decoration: none;
            } 
        }
    }

    i {
        color: #fff;
        font-size: 25px;
    }

    ul li:nth-child(even) i:hover {
        transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
    }

    ul li:nth-child(odd) i:hover {
        transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
    }
}