.portfolio {
    #header {
        height: 450px;
    }
    
    #design {
        background-color: #ccc;
    }
    
    .portfolio-images {
        margin-top: 25px;
        border: 1px solid #ddd;
    }
    
    section {
        padding: 20px 0;
        
        a {
            transition: 0.4s ease;
        
            &:hover {
                color: #1b94a2;
            }
        }
    }
    
    i {
        transition: ease, 0.4s;
        color: #000;
        font-size: 120px;
        
        &:hover {
            color: #1b94a2;
        }
    }
    
    h2 {
        text-align: center;
    }
}